@import 'icons';

$dark-grey:   #222426;
$light-purple: #c299ff;
$white: #ffffff;
$light-blue: #00f6ed;
$dark-blue: #000047;
$light-grey: #babbcd;
$black: #000000;
$sidebar-color: rgba($light-purple, .95);
$hover-button-color: rgba($white, .8);

body {
  background-color: $dark-grey;
  color: white;
  font-family: 'Roboto Mono', monospace;
  margin: 0px;
}

a {
  text-decoration: none;
}

.sidebar {
  padding: 16px;

  .nav {
    animation-duration: .2s;
    background-color: $sidebar-color;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 300px;
    z-index: 1;

    .menu-close {
      float: right;
      padding: 16px;
    }



    ul {
      position: relative;
      top: 5em;
      list-style-type: none;
      padding: 0px;
      margin: 0px;

      li {
        padding: 1em;
        &:hover {
          background-color: $dark-grey;
          color: $light-blue !important;
        }

        a {
          color: inherit;
          padding-left: 1.2em;
          transform: translate(-5px, 0);
          transition: .6s ease-out;
        }
      }
    }
  }
}

.author-name {
  color: $light-purple;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 1em;
  @media screen and (min-width: 800px) {
    padding: 0 5em;
  }

  h1, p {
    text-align: center;
  }
}

#introduction {
  padding: 0;
}

#about {
  background-color: $dark-blue;

  a {
    color: $light-blue;
  }
}

#contact {
  background-color: $light-grey;
  color: $black;
  height: 15vh;
  text-align: center;

  a {
    color: $black;
  }

  justify-content: space-around;
  .icon-group {
    span {
      padding: 1em;
    }
  }
}
